* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* me guie por 1280px de ancho como en la maqueta
pensando en la "exactitud" entiendo que podria
ser responsivo, pero imite hasta
ese "comportamiento" no responsivo */

a,
p {
  font-weight: lighter;
}

a,
body,
h1,
h2,
i,
p,
footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  letter-spacing: 0px;
}

p {
  font-size: 16px;
}

body {
  width: 1280px;
  margin: 0 auto;
}

/*PRIMERA SECCION*/

.section1 {
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center 73px;
  height: 800px;
}

.section1 img {
  top: 73px;
  height: 727px;
}

.rectangle1 {
  height: 73px;
  background-color: #000000;
}

h1 {
  padding: 7px 0;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 50px;
  font-weight: normal;
}

/*SEGUNDA SECCION*/

.section2 {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  height: 348px;
  gap: 106px;
}

.parrafo {
  padding: auto;
  object-fit: cover;
  width: 475px;
}

/*espaciado entre parrafos*/
.parras {
  margin-bottom: 15px;
}

.imagen1 {
  margin-top: 45px;
  margin-bottom: 66px;
  object-fit: cover;
  width: 399px;
  height: 237px;
}

/*TERCERA SECCION*/

.seccion3 {
  background-color: #1e1a13;
  opacity: 98%;
  text-align: center;
  font-weight: normal;
  padding: 75.5px 0px;
}

.seccion3 h2 {
  font-size: 40px;
  font-weight: 470;
}

.awesome2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  align-items: end;
}

.awesome2 p {
  padding-top: 16px;
  font-size: 24px;
}

.fa-eye {
  font-size: 36.64px;
  height: 36.64px;
  width: 57px;
}
.fa-hand-peace {
  font-size: 55.8px;
  height: 55.8px;
  width: 39.17px;
}
.fas {
  font-size: 48.6px;
  height: 48.6px;
  width: 40.93px;
}

/*CUARTA SECCION*/

.galeria1 {
  background-color: #000000;
  opacity: 96%;
  height: 348px;
}

.galeria2 {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 0 150px;
}

.galeria2 img {
  margin: 72px 0;
  width: 316px;
  height: 202px;
}

/*footer*/

footer {
  background-color: #1e1a13;
  opacity: 94%;
  height: 102px;
  text-align: center;
  align-content: center;
}

.visita {
  text-align: left;
  padding: 39px 299px;
  font-size: 20px;
}
